body {
  
  /* ここから追加 ページの上下に余白を設定 */
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* ここまで追加 */
  
  color: #5a5a5a;
}

.carousel {
  margin-bottom: rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  width: 100% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}